include README.md
include requirements.txt
include sparse_matrix_mult/Makefile.linux
include sparse_matrix_mult/Makefile.mac
include sparse_matrix_mult/Makefile.windows_mingw
recursive-include sparse_matrix_mult/lib *
recursive-include include *
recursive-include src *
recursive-include tests *
